* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira";
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.list {
  font-size: 20px;
}

button {
  font-family: "Saira";
  transition: 0.1s all ease-in;
  background-color: #575757;
  /* Green */
  border: 1px solid rgb(17, 17, 17);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #a3a3a3;
}

button:active {
  background-color: #2b2b2b;
}

.axisX {
  font-family: "Saira";
  font-size: 28px;
}

.axisY {
  font-family: "Saira";
  font-size: 14px;
}