* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira";
}
#myCanvas {
  padding: 0;
  margin: 20px auto;
  display: block;
  width: 750px;
  height: 750px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid black;
}
#content {
  text-align: center;
  margin-top: 20px;
}
#timestampH3 {
  margin-top: 10px;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  font-family: "Saira";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
