#content {
  text-align: center;
  margin-top: 20px;
}

#timestampH3 {
  margin-top: 10px;
  margin-bottom: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Saira";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}